.costForm {
  width: 90%;
  height: 70px;
  margin: 7px 15px;
}

input {
  border: 1px solid #5e6973;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
}

.costName {
  width: 300px;
}

.amount {
 width: 65px; 
}

.date {
  width: 150px;
}

.confirm {
  background-color: black;
  color: #dcfaf7;
  font-weight: 700;
  border: black;
}